/* body {
  overflow-y: hidden;
} */

.c-admin-page-restaurant-cadastro {
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
}


