/* body {
  overflow-y: hidden;
} */

.c-admin-page-restaurant-cadastro {
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
}

.alert{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  height: 6vh;
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  align-items: center;
  border-radius: 10px;


}
.alert > button {
  margin: 0;
  border-radius: 5px;
  
}
span {
  display: flex;
  justify-content: center;
  height: 100%;
}
