/* body {
  overflow-y: hidden;
} */

.c-admin-page-restaurant-cadastro {
  overflow-x: hidden;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

