#search-box,
.catalogs,
.food-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-box {
  margin-top: 85px;
}

#main-content>#search-box>h2 {
  color: #FFF;
  font-size: 62px;
  text-align: center;
}

#main-content>#search-box>input {
  margin-top: 80px;
  border: none;
  border-radius: 20.92px;
  width: 540px;
  height: 50px;
}

#main-content>#search-box>button {
  border-radius: 12.1px;
  margin-top: 10px;
  position: relative;
  left: 210px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
}

#main-content>#catalogs>h3 {}

/* -- */
.c-site-page-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-restaurants-list {
  height: 600px;
  overflow-y: scroll;
}