.c-card-menu_content {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  width: 420px;
  height: 200px;
  border-radius: 18px;
  margin: 10px;


  background-color: #153335;
  color: #FFF;
}

.c-card-menu_left {
  flex-basis: 35%;
}

/* .c-card-menu_left image {
} */

.c-card-menu_right {
  flex-basis: 55%;
}

img {
  width: 90px;
  height: 100px;
  border-radius: 50%;
}